<%- include("header.ejs") %>
<%- include("leftnav.ejs") %>


        <form class="blog-display" action="/accessBlog" method="post">
            <h1>
                Your Blogs
            </h1>
            <% for( let i = 0; i < numberOfBlogs; i++ ) { %>
                <button type="submit" class="condensed-blog-view" value="<%= i %>" name="inactive">
                    <h2><%= allBlogs[i][0] %></h2>
                    <hr style="width: 100%;">
                    <p><%= allBlogs[i][2]%></p>
                </button>
            <% } %>
            <% if (numberOfBlogs === 0) { %>
                <hr>
                <div class="no-blog-message">
                    <h2>You have not written any blogs</h2>
                    <p>Blogs that you write will appear here</p>
                </div>
            <% } %>
            <a href="/writeBlog" class="btn btn-lg btn-outline-info mt-5">New Blog</a>
        </form>
    </div>


    <script>
        $("section.left-navbar ul.nav li a[href='/homePage']").addClass("active");
        $("form.blog-display button.condensed-blog-view").on("click", function(){
            this.name = "active";
        })
    </script>
<%- include("footer.ejs") %>